@model IEnumerable<TeamLocal.Models.Business>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-striped table-hover text-dark">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SocialMedia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BusinessID">Edit</a> |
                   
                    <a asp-action="Delete" asp-route-id="@item.BusinessID">Delete</a> |

                    <a class="text-primary" onclick="location.href ='@Url.Action("Index", "Product")'">Products</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
            $(document).ready(function () {
                $('#records').DataTable();
            });
    </script>
}