@model IEnumerable<TeamLocal.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    @*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>*@
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <div class="card">
                <div class="card-body">
                    <div class="card-content">
                        <b class="card-title h1">
                            Product:
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </b>
                        <p class="card-text">
                            <b>Description:</b>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p class="card-text">
                            <b>Price:</b>
                            <b class="text-success">@Html.DisplayFor(modelItem => item.Price)</b>
                        </p>
                        <div class="card-footer">
                             
                            <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-warning btn-lg">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-warning btn-lg">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }



